.navHamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  outline: 2px solid transparent;
  margin-right: -5px;
}

.container {
  position: relative;
  width: 16px;
  height: 14px;
  overflow: hidden;
}

.top,
.middle,
.bottom {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000;
  transition: top 0.25s, background-color 0.5s, transform 0.25s;
}

.top {
  top: 0;
  left: 0;
  transform: translate(0);
}

.middle {
  top: 6px;
  left: 0;
  transform: translate(6px);
}

.bottom {
  top: 12px;
  left: 0;
  transform: translate(4px);
}

.navHamburger.active .top {
  top: 6px;
  transform: translate(0) rotate(225deg);
}

.navHamburger.active .middle {
  top: 6px;
  transform: translate(16px);
}

.navHamburger.active .bottom {
  top: 6px;
  transform: translate(0) rotate(135deg);
}
