*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: thin;
}

:root {
  --primary: rgb(229, 9, 20);
}
