*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: thin;
}

:root {
  --primary: rgb(229, 9, 20);
  --light-gray: rgba(128, 128, 128, 0.7);
  --medium-gray: rgba(22, 22, 22, 0.7);
  --dark-gray: rgb(35, 35, 35);
  --darker-gray: rgb(45, 45, 45);
}
